{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-widthe, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

	<title>My Diary</title>
	
	<link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" >
  <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" >
</head>

<body>
    <header>
    <nav>
      <li><a href="{% url 'home' %}">My Diary</a></li>
      <ul id="displayBlock">
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
        <li><input type="text" placeholder="Search.."></li>
        <li><a class="menu_icon"><img src="img/menu_icon.png" alt="menu_icon" height="32" width="32"></a></li>
      </ul>
    </nav>
  </header>
  {% block content %}
  
  {% endblock %}  

  {% load static %}
<footer class="footer-distributed">

  <div class="footer-left">

    <p class="footer-links">
      <a href="index.html">Home |</a>

      <a href="#">Sign up |</a>

      <a href="#">Log in |</a>

      <a href="#">Contacts |</a>

      <a href="#">About</a>
    </p>

    <p class="footer-company-name"> &copy; 2019 My Diary</p>
  </div>

  <div class="footer-center">

    <div>
      <p><span>Lumumba Drive, Roysambu, Nairobi</span></p>
    </div>

    <div>
      <p>+254700000000</p>
    </div>

    <div>

      <p><a href="mailto:info@politico.co.ke">info@mydiary.co.ke</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About My Diary</span>
      We provide an online platform where you can record all the events and memories you have or you had in the past
    </p>

    <div class="footer-icons">

      <a><img src="{% static "img/fb.png" %}" alt="facebook" height="32" width="32"></a>
      &nbsp &nbsp
      <a><img src="{% static "img/twitter.png" %}" alt="twitter" height="32" width="32"></a>
      &nbsp &nbsp
      <a><img src="{% static "img/in.jpg" %}" alt="linkedin" height="32" width="32"></a>
      &nbsp &nbsp
      <a><img src="{% static "img/git.png" %}" alt="github" height="32" width="32"></a>

    </div>

  </div>

</footer>
</body>
</html>